*.log
/cases/**/out/*
/cases/**/mesh/*
/data/
master_from_cuong/
*nohup*
__pycache__/
*lprof*
/CG/out/
*.np*
notes.txt
*dump
*.msh*
*.vtu*
/util/old
/mesh/plocal_test.txt
/mesh/unstr_square_mesh_save
/mesh/output_check.txt
gaussquad?d.m
CG/uh2d.mat
*_pg
*_processed
/tests/**/out/*
!/tests/data/*.msh
/tests/amg_test/
*mesh_save